ml-proj.md
.venv/
__pycache__/
lec\ -\ ML\ \ project\ and\ preprocessing.pdf
.ipynb_checkpoints/
.jupyter/

*.pyc
.DS_Store
AGENT.md
TODOS.md
Notes/
archive/trash/
catboost_info/
.idea/ 
cache/
_agent/*
!_agent/
!_agent/README.md
!_agent/base-grading-agent-prompt.md


__marimo__/
archive/ 